<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lama.lamapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GameConfiguration" />
        <activity android:name=".SelectRandomWord" />
        <activity android:name=".PlayersName" />
        <activity android:name=".SelectLevel" />
        <activity android:name=".SelectWord" />
        <activity
            android:name=".InGame"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".MenuJeu" />
        <activity android:name=".Didacticiel" />
        <activity android:name=".EnterWord" />
        <activity android:name=".premiere_manche" />
        <activity android:name=".Premiere_manche"></activity>
    </application>

</manifest>